<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/rpryimak/mobauto"><classes>
<class name="android.eCommerce_TC_2"><methods><include name="AddToCart"/></methods></class>
<class name="iOS.iOSBasicsTest"><methods><include name="iOSBasicsTest"/></methods></class>
</classes></test></suite>